header{
    margin-bottom: 0;
}

#headerDiv{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

#navDivImg{
    margin-left: 5%;
    justify-content: left;
    min-width: 80px;
    max-width: 30%;
}

#navDivUl{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.navDivLi{
    font-size: large;
    margin-right: auto;
    list-style: none;
    padding: 1%;
    background-color:  rgba(23,116,183, 0.6);
    border: 2px solid black;
    border-radius: 30px;
}

.navDivLi a{
    text-decoration:none;
}

#navContactDiv{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.navDivHr{
    margin-bottom: 0;
}