header{
    margin-bottom: 0;
}

#headerDiv{
    box-shadow: 1px 2px 15px  rgb(23,116,183);
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#navDivImg{
    margin-left: 5%;
    justify-content: left;
    min-width: 80px;
    max-width: 30%;
}


#navDivUl{
    /* border: 1px solid black; */
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 5%;
}

.navDivLi{
    font-size: large;
    margin-right: auto;
    list-style: none;
}

.navDivLi a{
    text-decoration:none;
}

