main{
    font-size: large;
}

#aboutDiv{
    margin: 0;
}

#aboutImgs{
    margin: 0;
    height:100vh;
    width: 100%;
}

#aboutImgsTitle{
    position: absolute;
    display: block;
    font-weight: bold;
    font-size: 250%;
    color: black;
    margin: 20%;
    padding: 3px;
    background-color: rgba(23,116,183, 0.8);
    border-radius: 20px;
}

@media screen and (max-width: 549px){
    #aboutImgsTitle{
        font-size: 150%;
        margin: 60% 20%;
    }
}


.img1{background-image: url(./../assets/eng\ 1.jpg); background-size: cover;}
.img2{background-image: url(./../assets/eng\ 2.jpg); background-size: cover;}
.img3{background-image: url(./../assets/eng\ 3.jpg); background-size: cover;}
/* .img4{background: url(./../assets/eng\ 4.jpg) center center fixed; background-size: cover;} */

#aboutUs{
    display: block;
    padding-top: 75px;
    margin-bottom: 1%;
    text-align: center;
    font-size: large;
}

#aboutUsDesc{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto 15%;
    line-height: 2;
}

#mvvMrc{
    padding: 0;
    list-style: none;
}

.mvv{
    display: flex;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 1%;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}


#valoresMrc{
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

#valoresMrc span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#valoresMrc p{
    display: flex;
    justify-content: center;
    text-align:center;
}


.valores{
    display: flex;
    text-align: left;
    margin-left: 15%;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.servicesDiv{
    padding-top: 10px;
    margin:auto;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .servicesDiv{
        padding-top: 30px ;
    }
}

@media screen and (max-width: 600px) {
    .servicesDiv{
        padding-top: 40px ;
    }
    .projectsDiv{
        padding-top: 40px;
    }
}

.servicesDivTitle{
    background-color: rgba(23,116,183, 0.3) ;
    height: auto;
    padding: 20px;
    margin: 3% 0 ;
}


.servicesDesc ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 780px) {
    .servicesDesc ul{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.serviceCard:hover{
    transform: translateY(4px);
}


.servicesDesc li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-right: 5%;
    border: 2px solid rgb(23,116,183) ;
    border-radius: 50px;
    box-shadow: 1px 2px 15px  rgb(23,116,183)  ;
    padding: 3%;
    transition: 0.3 ease-in-out ;
}

.servicesDesc span{
    color: black;
    font-weight: bold;
}

.servicesDesc img{
    height: 100px;
    margin-bottom: 15px;
}

#projectsDiv{
    padding-top: 35px;
}

#projectsDivTitle{
    background-color: rgba(23,116,183, 0.3) ;
    height: auto;
    padding: 20px;
    margin: 1% 0 ;
    text-align: center;
}

.projectsDivContent button {
    text-align: center;
    justify-content:center;
    cursor: pointer;
    position: absolute;
    top: 90%;
    border: 1px solid black;
    border-radius: 30px;
    background: rgba(23,116,183, 0.8);
    font-size: 40px;
    z-index: 1;
}

.prev {
    left: 1%;
}

.next {
    right: 1%;
}

#projectsDivContent{
    display: flex;
    justify-content: left;
    overflow: hidden;
}


.carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out;
    width: fit-content;
}

.carousel-item {
    display: flex;
    justify-content: center;
    margin-right: auto;
    width: 300px;
    padding-left:30px;
    padding-right: 30px;
}
